body{margin:0px;padding:0px;font-family:Verdana,Helvetica;color:#566f29;font-size:0.9em;}
#container{width:1000px;margin:0 auto;padding-top:5px;}
#map{width:700px;height:450px;float:left;padding-left:15px;}
#toolbar{width:190px;margin:0 auto;padding:10px;font-size:0.9em;height:250px;}
#credits{width:150px;padding:10px;}
#controlbox{float:left;width:200px;margin-right:20px;-moz-border-radius:10px;background:#f8ffd9;padding:15px 5px;}
.clear{clear:both;}
#navigation{background:#A3C159;line-height:1.5em;height:1.5em;}
#header {border-top:5px solid #86a85e;border-left:1px solid #86a85e;margin-bottom:25px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:0px;
-moz-border-radius-topleft:5px;-moz-border-radius-topright:0px;}
#header h1{line-height:0.7em;font-size:1.2em;padding-left:20px;}
#footer{border-bottom:5px solid #86a85e;border-right:1px solid #86a85e;margin-top:20px;-moz-border-radius-bottomleft:0px;-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:0px;-moz-border-radius-topright:0px;padding:0px 10px 3px 0px;text-align:right;font-size:0.7em;}
#message{padding:5px;background:#f8ffd7;margin:5px 0px;}
#message p{font-size:0.7em;}
#toolbar p{float:right;margin:5px 0px;}
a{color:#5FBF17;text-decoration:none;}
a:hover{color:#7FDF37;text-decoration:none;}